.login-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px;
}
.l-heading{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}
.l-heading>h3{
    margin-top: 5px;
    color: red;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form>button{
    background: linear-gradient(89.9deg, #433EE9 0.07%, #8E14FF 99.92%);
    border-radius: 5px;
    border: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
}
.l-input{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width:90%;
    height:70px;
    margin: 15px;
    padding: 20px;
    border: solid rgb(174, 171, 171) 1px;;
}
.l-bottom{
    margin-left:60px;
    padding: 5px;
    line-height: 1;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 80%;
    color: rgb(174, 171, 171);
}

@media (max-width: 768px){
  .login-container{
    margin-top: 120px;
  }   
}

.error-message{
    color: red;
    padding:3px;
}